<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">


<div id="content-box" markdown="1">
 <div id="top-box">
  <img id="fagbilde" src="{{ site.bilde }}" alt="">   <!--Se config.yml-->
  <p id="fagtittel" class="fagtittler"> {{ site.name }} </p>   <!--Se config.yml-->
  <p id="fagundertittel" class="fagtittler"> {{ site.semester }} </p>   <!--Se config.yml-->
  </div>    

## Beskjeder/kunngjøring [(Alle)](kunngjoringer.md)
<ul>
  {% for post in site.posts limit:5%}
    <li>
     <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

